.CompanyContainer {
    @apply flex flex-row gap-10 min-[450px]:w-full relative max-h-[100vh] -right-[40px] min-[450px]:-right-0 w-[110%] min-[450px]:-ml-0 -ml-[20px];
}

.CompanyText {
    @apply text-left mt-[110%] min-[400px]:mt-[80%] sm:mt-[60%] md:mt-[25%] p-[20px] pt-[40px] sm:p-[40px] sm:pt-[80px] sm:pr-[80px] bg-bg rounded-tr-[40px] -ml-1 -mb-1 relative w-fit max-w-[80%];
}

.CompanyText::after {
    position: absolute;
    bottom: 3px;
    right: -80px;
    height: 80px;
    width: 80px;
    border-bottom-left-radius: 50%;
    content: "";
    box-shadow: 0 40px 0 0 rgb(var(--color-bg));
    background-color: rgba(0,0,0,0);
  }

  .CompanyText::before {
    position: absolute;
    top: -80px;
    left: 3px;
    height: 80px;
    width: 80px;
    border-bottom-left-radius: 50%;
    content: "";
    box-shadow: 0 40px 0 0 rgb(var(--color-bg));
    background-color: rgba(0,0,0,0);
  }

.CompanyImage {
    width: 100%;
    height: calc(100% - 3rem);
    @apply mt-12 rounded-tl-[40px] min-[450px]:rounded-[40px] rounded-bl-none absolute object-center object-cover -z-10;
}

.Timeline_container {
    @apply w-full bg-gray-200 px-16  pt-32 pb-16 rounded-[40px];
}

.Timeline_middle {
    @apply w-full flex flex-col items-center;
}

.Timeline_middle::after {
    content: '';
    @apply absolute left-1/2 -top-[50px] h-[100%] w-[4px] bg-dark translate-x-[-50%]; 
}
.Timeline_card {
    @apply w-[40%] min-w-[220px] rounded-3xl bg-light p-8 z-10 mb-8 shadow-xl;
}

.Timeline_card > h3 {
    @apply pb-4 text-xl text-dark;
}

.card_left > h4{
    @apply text-red-300 text-lg;
}

.card_right > h4{
    @apply text-green-400;
}

.Timeline_card > p{
    @apply text-gray-500;
}


.card_left {
    transform: translateX(calc(-50% - 50px));
    @apply relative rounded-tr-none;
}

.card_left::after {
    content: '';
    z-index: 10;
    width: 40px;
    height: 40px;
    right: -50px;
    top: 0;
    position: absolute;
    transform: translateX(50%);
    @apply rounded-xl bg-red-300 shadow-xl;
}

.card_right {
    transform: translateX(calc(50% + 50px));
    @apply relative rounded-tl-none;
}

.card_right::after {
    z-index: 5;
    content: '';
    width: 40px;
    height: 40px;
    left: -50px;
    top: 0;
    position: absolute;
    transform: translateX(-50%);
    @apply rounded-xl bg-green-300 shadow-xl;
}

.Timeline_header {
    @apply absolute left-0 top-0 m-16 text-left text-4xl xl:text-5xl leading-tight xl:leading-tight max-w-[250px] text-dark;
}

@media (max-width: 650px) {
    .Timeline_container {
        @apply px-12 pt-8;
    }

    .Timeline_header {
        @apply m-0 mb-8 relative w-full max-w-none;
    }

    .card_right,
    .card_left {
        transform: none;
        @apply relative rounded-tl-none rounded-tr-3xl;
    }

    .card_right::after,
    .card_left::after {
        width: 20px;
        height: 20px;
        left: -30px;
        transform: translateX(-50%);
    }

    .Timeline_card {
        @apply w-full min-w-[250px];
    }

    .Timeline_middle {
        @apply items-start;
    }

    .Timeline_middle::after {
        @apply left-[-30px];
    }
}

@media (max-width: 390px) {
    .card_left::after,
    .card_right::after,
    .Timeline_middle::after {
        @apply hidden;
    }

    .Timeline_container {
        @apply pt-8 p-4;
    }

    .Timeline_card {
        @apply p-6;
    }

    .Timeline_header {
        @apply pl-4;
    }
}