.uxTextImg {
    width: 100%;
    display: flex;
    flex-direction: row; /* Standardmäßig nebeneinander */
    justify-content: space-between;
    gap: 4rem;
    @apply rounded-[40px] bg-red-100;
  }
  
  .uxTextImgImg {
    width: clamp(250px, 70%, 600px);
    @apply max-[749px]:rounded-b-[40px] min-[750px]:rounded-r-[40px] object-cover h-[600px];
  }
  
  .uxTextImgText {
    min-width: 300px;
    width: fit-content;
    max-width: 55%;
    @apply flex flex-col justify-between min-h-fit py-12 pl-16;
  }
  
  @media (max-width: 749px) {
    .uxTextImg {
      text-align: center;
      flex-direction: column; /* Stacked Layout auf kleinen Bildschirmen */
    }
  
    .uxTextImgText {
      margin-top: 2rem; /* Abstand zwischen Bild und Text bei vertikalem Layout */
      max-width: none;
      padding: 2rem;
      text-align: left;
    }

    .uxTextImgImg {
      @apply w-full;
    }
  }
  