/**
  * Responsive navigation setup
  */
  .layoutNavigationHeader {
    @apply w-full tracking-wide flex justify-between items-center fixed px-16 py-2 bg-gray-300 z-40;
  }

  .layoutNavigation {
    @apply flex justify-end items-center;
  }

  .layoutNavigation > ul {
    @apply flex items-center;
  }

  
  .layoutNavigationItem {
    width: 150px;
    text-align: center;
    @apply transition-all ease-in text-lg font-medium rounded-md relative box-border mx-4;
  }
  
  .layoutNavigationItem.active {
    @apply font-bold;
  }
  
  .layoutNavigationItem:hover {
    @apply text-gray-600;
  }
  
  .layoutNavigationBooking {
    @apply py-4 bg-green-400 text-light font-bold;
  }
  
  @media(max-width: 1024px){
    .layoutNavigation > ul {
      padding-top: 33vh;
      @apply flex flex-col justify-start items-start gap-10      /*Layout*/
             fixed top-0 right-0 z-40                             /*Position*/
             h-full px-14 w-2/3                                   /*Size*/
             bg-bg bg-opacity-30 backdrop-blur-sm                 /*Background*/
             transition-all duration-500 ease-in-out;             /*Transition*/
    }
  
    .layoutNavigationHidden > ul {
      @apply translate-x-full;
    }

    .layoutNavigationItem {
      @apply text-xl text-left;
    }

    
    .layoutNavigationBooking {
      @apply text-center;
    }
  
    .layoutNavigationItemActive {
      @apply font-semibold;
    }
  }
  
  @media(max-width: 700px) {
    .layoutNavigationHeader {
      @apply px-6;
    }

    .layoutNavigation > ul {
      @apply w-full;   
    }
  }

  /*
   * navigation logo
   */
   .layoutNavigationLogo {
     @apply z-50 ;
   }
  
   .layoutNavigationLogoImg {
    @apply h-[60px];
  }

  /*
   * navigation button
   */
  .layoutNavigationButton {
    z-index: 50;
    background: transparent;
    border-radius: 10px;
    overflow: hidden;
    @apply lg:hidden;
  }

 .layoutNavigationButton .hamburger {
    transition: translate 1s, rotate 1s;
  }
  
  .layoutNavigationButton[aria-expanded="true"] .hamburger {
    translate: 2px -2px;
    rotate: 0.125turn;
  }
  
  .layoutNavigationButton .line {
    transition: 1s;
    stroke-dasharray: 60 31 60 300;
  }
  
  .layoutNavigationButton[aria-expanded="true"] .line {
    stroke-dasharray: 60 105 60 300;
    stroke-dashoffset: -90;
  }