.uxRondell {
    @apply  flex flex-col w-full min-h-[700px] justify-between xl:flex-row lg:justify-between p-16 rounded-[40px] bg-slate-300 relative;
}

.rondell_text {
  @apply xl:absolute bottom-0 mt-16 mb-16 xl:w-[45%];
}

.rondell_container {
  @apply w-full xl:w-[50%] my-auto flex justify-center items-center;
}

.rondell_card {
  position: relative;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-start;
  width: 16rem;
  height: fit-content;
  min-height: 500px;
  padding: 0 2rem 2rem 2rem;
  border-radius: 10px;

  @apply bg-gray-100 bg-opacity-90;
}

.rondell_card_image {
  margin-top: -20%;
  width: 100%;
  border-radius: 20px;
}

.rondell_card_heading {
  text-wrap: wrap;
  hyphens: auto;
  margin: 0;
  margin-top: 1rem;
  @apply text-dark;
}

.rondell_card_text {
  margin-top: 0.5rem;
  margin-bottom: 5.5rem;
  @apply text-gray-500;
}

.rondell_card_button {
  position: absolute;
  bottom: 0;
  height: 4rem;
  margin-bottom: 2rem;
}

.card_btn {
  color: rgb(var(--color-light));
  border: none;
  outline: none;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 11px 1rem;
  transition: all 300ms ease-in-out;
  @apply bg-primary;
}

.card_btn:hover {
  @apply bg-primary2 font-semibold;
}

@media(max-width: 650px) {
  .uxRondell {
    padding: 3rem;
  }

  .rondell_heading {
    @apply text-3xl leading-normal;
  }

  .rondell_container {
    @apply w-[70%] m-auto;
  }

}

@media(max-width: 400px) {
  .uxRondell {
    padding: 2rem;
  }

  .rondell_heading {
    @apply text-2xl leading-normal;
  }

  .rondell_text {
    @apply mt-8;
  }

  .rondell_container {
    @apply w-[50%];
  }
  .rondell_card {
    width: 14rem;

  }
}