.jobs {
  width: 100%;
  @apply flex flex-row justify-between p-6 gap-16 lg:min-h-[600px];
}

.jobs_heading {
  width: 30%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @apply p-2;
}

.jobs_image {
  @apply rounded-[40px] w-full h-full object-cover lg:absolute min-h-[400px];
}

.jobs_txt {
    @apply absolute right-[-1px] bottom-[-1px] rounded-tl-[40px] pl-4 pt-8 xl:pl-12 max-w-[70%] max-h-[70%] bg-bg;
  }

  
.jobs_txt::before {
  position: absolute;
  right: 0;
  top: -80px;
  height: 80px;
  width: 80px;
  border-bottom-right-radius: 50%;
  content: "";
  box-shadow: 0 40px 0 0 rgb(var(--color-bg));
  background-color: rgba(0,0,0,0);
}

.jobs_txt::after {
  position: absolute;
  bottom: 0;
  left: -80px;
  height: 80px;
  width: 80px;
  border-bottom-right-radius: 50%;
  content: "";
  box-shadow: 0 40px 0 0 rgb(var(--color-bg));
  background-color: rgba(0,0,0,0);
}

@media(max-width: 1024px) {
  .jobs {
    flex-direction: column;
    @apply gap-2;
  }

  .jobs_heading {
    width: 100%;
  }

  .jobs_txt {
    @apply pl-4 pt-6;
  }
}

@media(max-width: 650px) {
  .jobs_heading h1 {
    @apply text-3xl;
  }
}