@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
 * create colorpalette 
 * feature darkmode/lightmode
 */
@layer base {
  :root {
    --color-bg: 245 245 245;
    --color-light: 245 245 245;
    --color-dark: 29 29 29;
    --color-fg: 29 29 29;

    --color-primary: 231 91 59;
    --color-primary2: 206 66 35;
    --color-secondary: 216 180 256;
    --color-secondary2: 192 132 252;
    --color-neutral: 75 85 90;

    --ending: '-dark';

    overflow-x: hidden;
  }
  /*
  @media (prefers-color-scheme: dark) {
    :root {
      --color-fg: 245 245 245;
      --color-bg: 29 29 29;
      --color-neutral: 209 213 219;

      --ending: '-light';
    }
  }
  */
}

:root:has(.no-doc-scroll) {
  overflow:hidden;
}

/* 
 * clean up window/body element
 * scroll-behav. to smooth | backgroundcolor
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

body {
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: rgb(var(--color-bg));
  position: relative;

  .no-doc-scroll {
    pointer-events: none;
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1600px;
  margin: auto;
  z-index: -1;
  @apply mb-[6rem];
}

/*
 * set styles for fonts/headers/paragraphs
 * font-family made up in layout.tsx
 */
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    cursor: default;
    @apply text-fg font-semibold whitespace-normal;
}

h1 {
  @apply text-4xl min-[500px]:text-5xl min-[1500px]:text-6xl 
         leading-tight min-[500px]:leading-tight min-[1500px]:leading-tight;
 }

 h2 {
  @apply text-3xl;
 }

 h3 {
  @apply text-2xl;
 }

 h4 {
  @apply text-xl;
 }

 p {
  cursor: default;
  margin: 0;
  @apply text-neutral text-base;
 }

 a {
  margin: 0
 }

.impress-div {
  max-width: 600px;
  width: 50%;
  min-width: 280px;
  @apply pt-24 pl-8 pr-8;
}

@media (max-width: 639px) {
  .impress-div {
    margin:auto;
    width: 80%;
    @apply pt-24;
  }
}

/* Google reCAPTCHA styles */
.grecaptcha-badge {
  width: 70px !important;
  overflow: hidden !important;
  transition: all 0.3s ease !important;
  left: 12px !important;
  bottom: 96px !important;
}
.grecaptcha-badge:hover {
  width: 256px !important;
}


/* Loading Animations */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotation-icon {
  animation: rotate 2s linear infinite; /* Hier wird die Animation definiert: 2 Sekunden Dauer, lineare Bewegung, unendliche Wiederholung */
}
