@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
 * create colorpalette 
 * feature darkmode/lightmode
 */
@layer base {
  :root {
    --color-bg: 245 245 245;
    --color-light: 245 245 245;
    --color-dark: 29 29 29;
    --color-fg: 29 29 29;

    --color-primary: 231 91 59;
    --color-primary2: 206 66 35;
    --color-secondary: 216 180 256;
    --color-secondary2: 192 132 252;
    --color-neutral: 75 85 90;

    --ending: '-dark';

    overflow-x: hidden;

    --background: 0 0% 100%;

    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;

    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;

    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;

    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;

    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;

    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;

    --input: 0 0% 89.8%;

    --ring: 0 0% 3.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;
  }
  /*
  @media (prefers-color-scheme: dark) {
    :root {
      --color-fg: 245 245 245;
      --color-bg: 29 29 29;
      --color-neutral: 209 213 219;

      --ending: '-light';
    }
  }
  */
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

:root:has(.no-doc-scroll) {
  overflow:hidden;
}

/* 
 * clean up window/body element
 * scroll-behav. to smooth | backgroundcolor
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

body {
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: rgb(var(--color-bg));
  position: relative;

  .no-doc-scroll {
    pointer-events: none;
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1600px;
  margin: auto;
  z-index: -1;
  @apply mb-[6rem];
}

/*
 * set styles for fonts/headers/paragraphs
 * font-family made up in layout.tsx
 */
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    cursor: default;
    @apply text-fg font-semibold whitespace-normal;
}

h1 {
  @apply text-4xl min-[500px]:text-5xl min-[1500px]:text-6xl 
         leading-tight min-[500px]:leading-tight min-[1500px]:leading-tight;
 }

 h2 {
  @apply text-3xl;
 }

 h3 {
  @apply text-2xl;
 }

 h4 {
  @apply text-xl;
 }

 p {
  cursor: default;
  margin: 0;
  @apply text-neutral text-base;
 }

 a {
  margin: 0
 }

.impress-div {
  max-width: 600px;
  width: 50%;
  min-width: 280px;
  @apply pt-24 pl-8 pr-8;
}

@media (max-width: 639px) {
  .impress-div {
    margin:auto;
    width: 80%;
    @apply pt-24;
  }
}

/* Google reCAPTCHA styles */
.grecaptcha-badge {
  width: 70px !important;
  overflow: hidden !important;
  transition: all 0.3s ease !important;
  left: 12px !important;
  bottom: 96px !important;
}
.grecaptcha-badge:hover {
  width: 256px !important;
}


/* Loading Animations */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotation-icon {
  animation: rotate 2s linear infinite; /* Hier wird die Animation definiert: 2 Sekunden Dauer, lineare Bewegung, unendliche Wiederholung */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
