.uxHead {
    width: 100%;
    @apply flex flex-row justify-between relative items-center;

    &::after {
      content: '';
      @apply absolute left-0 top-0 w-full h-full rounded-[40px] bg-black opacity-30 z-0;
    }
  }

  .uxHeadImage {
    height: 100%;
    object-fit: cover;
    object-position: center;
    @apply rounded-[40px] -z-20 absolute w-full;
  }

  .uxHeadText {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @apply relative text-center text-light z-10 mb-16 mt-12 mx-auto;

    p, h1, h2 {
      @apply text-light;
    }
  }

.uxHeadContent {
  @apply flex flex-col justify-between mt-[12%] w-full p-12;
}

