.uxHead {
    width: 100%;
    @apply flex flex-row justify-between relative;
  }

  .uxHeadImage {
    height: calc(100% + 100px);
    width: 40%;
    object-fit: cover;
    object-position: center;
    @apply rounded-[40px] rounded-bl-none -z-20 absolute flex-grow -right-[20px] -top-[100px];
  }

  .uxHeadText {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    @apply relative;
  }

  .uxHeadText::after {
    position: absolute;
    bottom: 0;
    right: -74px;
    height: 80px;
    width: 80px;
    border-bottom-left-radius: 50%;
    content: "";
    box-shadow: 0 40px 0 0 rgb(var(--color-bg));
    background-color: rgba(0,0,0,0);
}

.uxHeadInformation::after {
  position: absolute;
  bottom: 0;
  right: -80px;
  height: 80px;
  width: 80px;
  border-bottom-left-radius: 50%;
  content: "";
  box-shadow: 0 40px 0 0 rgb(var(--color-bg));
  background-color: rgba(0,0,0,0);
}

.uxHeadText p {
  max-width: 500px;
}

.uxHeadText h1 {
  max-width: 500px;
  @apply font-normal;
}

.uxHeadText h4 {
  max-width: 800px;
  @apply font-semibold hyphens-auto text-light;
}

.uxHeadContent {
  @apply w-[60%] overflow-visible gap-0 flex flex-col justify-between mt-[10%];
}

@media (max-width: 1200px) {
  .uxHead {
    @apply pl-8;
  }
  .uxHeadText::after {
    position: absolute;
    bottom: 0;
    right: -86px;
    height: 80px;
    width: 80px;
    border-bottom-left-radius: 50%;
    content: "";
    box-shadow: 0 40px 0 0 rgb(var(--color-bg));
    background-color: rgba(0,0,0,0);
  }
}

@media (max-width: 895px) {
  .uxHead {
    @apply pl-0;
  }

  .uxHeadText > h1 {
    @apply text-4xl leading-tight;
  }

  .uxHeadImage {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
  }

  .uxHeadContent {
    @apply mt-[30%] bg-bg rounded-tr-[40px];
  }

  .uxHeadText {
    @apply pt-[40px] pr-[40px];
  }

  .uxHeadText::after {
    position: absolute;
    bottom: 0;
    left: 100%;
    height: 80px;
    width: 80px;
    border-bottom-left-radius: 50%;
    content: "";
    box-shadow: 0 40px 0 0 rgb(var(--color-bg));
    background-color: rgba(0,0,0,0);
  }
  .uxHeadText::before {
    position: absolute;
    top: -80px;
    left: 0;
    height: 80px;
    width: 80px;
    border-bottom-left-radius: 50%;
    content: "";
    box-shadow: 0 40px 0 0 rgb(var(--color-bg));
    background-color: rgba(0,0,0,0);
  }
}

@media (max-width: 715px) {
  .uxHeadContent {
    width: 80%;
  }
  .uxHeadInformation {
    display: none;
  }
}

@media (max-width: 500px) {
  .uxHead {
    overflow: visible;
    @apply -mr-8 w-[105%];
  }
  .uxHeadText {
    @apply pr-[20px] pl-2;
  }

  .uxHeadImage {
    @apply rounded-tr-none rounded-br-none;
  }
}
