.uxHead {
    margin: auto;
    display: flex;
    flex-direction: row; /* Standardmäßig nebeneinander */
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: content-box;
    padding: 8rem 0;
    width: 100%;
    height: 100vh;
    position: relative;
  }

  .uxHeadImageContainer {
    width: 100%;
    height: 100%;
    
    position: absolute;
    z-index: -10;

    mask-image: linear-gradient(to bottom, black 93%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 93%, transparent 100%); 
  }

  .uxHeadImage {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;

    scale: 1.15;

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: blur(7px) grayscale(0.4);
  }
  
  .uxHeadImageContainer::after {
    position: absolute;
    top: 0;
    left: 0;

    content: '';
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .uxHeadText {
    width: 80%;
    max-width: 1200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
    margin-bottom: 3rem;

    @apply break-words;
  }

.uxHeadText p {
  margin-bottom: 3rem;
}

.uxHeadText h1 {
  max-width: 600px;
  margin-bottom: 2rem;
  @apply font-extrabold text-center hyphens-auto;
}

.uxHeadText h4 {
  max-width: 800px;
  @apply font-semibold hyphens-auto text-light text-center ;
}

@media (max-width: 465px) {
  .uxHeadText h1 {
    margin-top: -3rem;
    @apply text-4xl;
  }
}

@media (max-width: 365px) {
  .uxHeadText h1 {
    @apply text-3xl;
  }
}