.privacy-bg {
    position: relative;
    overflow-x: hidden;
    width: 90%;
    height: 100%;
    margin: auto;
    margin-bottom: 4rem;
}

.privacy-bg::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    transform: translateX(10%);
    top: 0;
    left: 0;
    background-image: url('/images/datasec.png');
    filter: grayscale(100%); /* Graustufen-Effekt */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    opacity: 0.1; /* Opazität des Hintergrundbildes */
    z-index: -1;
}


@media (max-width: 639px) {
    .privacy-bg::before {
      width: 200%;
      transform: translateX(-40%);
    }
  }